.contact-container {
  display: block;
}

.contact-background {
  overflow: hidden;
  background-size: cover;
}

.contact-background img {
  width: 100%;
}

.blur-color {
  color: #717171;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.contact-card {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  background-color: #fff;
  padding-bottom: 20px;

}

.card-background {
  max-width: 40%;
  border-radius: 15px;
  background-color: #000;
 
}

#submit-btn {
  width: 100%;
  height: 3rem;
  border: 0;
  border-radius: 15px;
  background: #000;
  color: #fff;
}

.submit-btn:hover {
  background: #f37e4d;
  color: #fff;
}

.map-container {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  height: 590px;
}

.Form {
  width: 100%;
}


.form-container {
  color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.name-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

}

.mail-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;

}

.name-fields .Field{
  size: 500px;
}

.error{
  color: red;
  font-size:.7rem;
}

@media(max-width:1180px){
  .map-container{
    height: 350px;
  }
}

@media(max-width:767px){

  .card-background {
    max-width: 95%;
    border-radius: 15px;
    background-color: #000;
  }


  .blur-color {
    color: #717171;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 40px;
  }

  .form-container{
    padding: 10px;
    margin:0;
    color: #121212;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
  
  .map-container{
    height: 300px;
  }
}