@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-family: 'Poppins', sans-serif;
}

.web-main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.forzaerp-card{
width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.card-title {
  font-family: Poppins;
  font-size: 65px;
  font-weight: 600;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: center;
}

.card-text{
font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}

 
.forzaerp-logo-div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 68px;
}

.forzaerp-banner-logo{
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.forzaerp-banner-logo img{
  width: 100%;
  height:100%;
}


  .forzaerp-overlay{
    display: grid;
    justify-content: center;
    align-items: center;
  }

#forzaerpfeatures-title{
  font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 84px;
letter-spacing: 0em;
text-align: center;

}


.product-description {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  margin-bottom: 20px;
}
.product-description p{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.04em;
text-align: center;
}

.forzaerp-feature-container {
  padding-top: 0;
  margin: 0 20px;
  margin-bottom: 20px;
}

.forzaerp-feature-col1 {
  padding: 40px;
}

.forzaerp-feature-col1 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  
}

.forzaerp-feature-col2 {
  padding: 40px;
}

.forzaerp-feature-col2 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.forzaerp-feature-col3 {
  padding: 50px;
}

.forzaerp-feature-col3 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.forzaerp-feature-col4 {
  padding: 50px;
}

.forzaerp-feature-col4 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}


.forza-erp-feature {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  gap:20px;
  padding-left: 2rem;
}

.forzaerpfeatures-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.forzaerp-features-div {
  margin-top:5px;
  padding: 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#forzaerp-feature-card {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F37E4D;
}


#forzaerp-features-data {
  width: 100%;
  height: 27rem;
  display: grid;
  grid-template-columns: .5rem 1fr 1fr .5rem;
}

.forzaerp-dataleft {
  grid-column: 2/3;
  padding: 0;
}

.forzaerp-dataright {
  grid-column: 3/4;
  padding: 0;
}

/*media queries start here*/
@media(max-width:1180px) {

   
.forzaerp-logo-div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 50px;
}

.forzaerp-banner-logo{
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.forzaerp-banner-logo img{
  width: 100%;
  height:100%;
}


  .forzaerp-overlay{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #forzaerp-overlay h1{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .product-description {
    padding: 0 50px;
    margin: 0;
  }

  .product-description p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  .forzaerp-feature-container {
    padding-top: 0;
    margin: 0 20px;
  }

  .forzaerp-feature-col1 {
      padding: 30px;
  }

  .forzaerp-feature-col1 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

  }

.forzaerp-feature-col2 {
    padding: 30px;
  }

  .forzaerp-feature-col2 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

 .forzaerp-feature-col3 {
    padding: 30px;
  }
.forzaerp-feature-col3 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

.forzaerp-feature-col4 {
    padding: 30px;
  }

.forzaerp-feature-col4 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }


.forzaerpfeatures {
    margin-top: 20px;
  }

  .forza-erp-feature {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    gap:20px;
    padding-left: 1rem;
  }

  .forzaerpfeatures-title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }

  .forzaerp-features-div {
    margin-top:5px;
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #forzaerp-feature-card {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    background: #F37E4D;
  }

 
 #forzaerp-features-data {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: .5rem 1fr 1fr .5rem;
  }

  .forzaerp-dataleft {
    grid-column: 2/3;
    padding: 0;
  }

  .forzaerp-dataright {
    grid-column: 3/4;
    padding: 0;
  }

}


@media(max-width:767px) {

 
  .forzaerp-logo-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

  }
  
  .forzaerp-banner-logo{
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
  }
  
  .forzaerp-banner-logo img{
    width: 100%;
    height:100%;
  }
  
  
    .forzaerp-overlay{
      display: grid;
      justify-content: center;
      align-items: center;
    }

.forzaerp-overlay{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #forzaerp-card{
    width: 100%;
    height: 210px;
    }
    
    .card img {
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }

    
    .card-title h1{
    font-family: Poppins;
    font-size: 65px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: center; 
    }
    
    .card-text{
      font-size: .8rem;
    }
    
  .product-description {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .forzaerp-feature-container {
    padding-top: 0;
    margin: 0 20px;
  }

  .forzaerp-feature-col1 {
    margin: 0;
    padding: 20px;
  }

  .forzaerp-feature-col1 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .forzaerp-feature-col2{
    margin: 0;
    padding: 20px;
  }

  .forzaerp-feature-col2 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .forzaerp-feature-col3 {
    margin: 0;
    padding: 25px;
  }

  .forzaerp-feature-col3 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .forzaerp-feature-col4 {
    padding: 31px;
  }

  .forzaerp-feature-col4 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }


  .forzaerpfeatures {
    margin-top: 20px;
  }

  .forza-erp-feature {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

  }

  .forzaerpfeatures-title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }

  .forzaerp-features-div {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .forzaerp-features-div p {
    padding: 0 20px;
  }

  #forzaerp-feature-card {
    width: 100%;
    height: 100%;
  }

  #forzaerp-features-data {
    width: 100%;
    height: 38rem;
    display: grid;
    grid-template-columns: .5rem 1fr .5rem;
  }


  .forzaerp-dataleft {
    grid-column: 2/3;
    padding: 0;
  }

  .forzaerp-dataright {
    grid-column:2/4;
    padding: 0;
  }
}