@media (min-width: 768px) {
  /* Apply padding only on screens with a width of 768px or larger */
  .software-features-div {
    padding: 0px 0px 0px 135px;
   
  }
  .software-container{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.software-container{
  padding: 0px 0px 0px 135px;
}

@media (max-width: 1180px) {
  .card img {
      max-height: 400px;
  }

  .card-img-overlay h1 {
      font-size: 50px;
      padding-top: 6%;
  }

  .software-features-div {
      margin: 0 40px;
      padding: 6px 0px;
  }

  .features {
      font-size: 20px;
      padding: 10px 0px;
  }
}

@media (max-width: 767px) {
  .software-main {
      height: auto;
  }

  #software-banner-card {
      height: 200px;
  }

  .card img {
      height: 200px;
  }

  .card-img-overlay h1 {
      font-size: 30px;
      padding-top: 20%;
  }

  .software-features-div {
      margin: 0 20px; /* Adjusted margin for smaller screens */
      padding: 6px 0px;
  }

  .features {
      font-size: 14px;
      padding: 10px 0px;
  }
}
#software-features {
  font-size: 20px;
}

@media (max-width: 767px) {
  #software-features {
      font-size: 14px; 
  }
}
@media (max-width: 400px) {
  #software-features {
      font-size: 10px; 
  }
}
