@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.testimonial-container {
  width: 80%;
  margin: auto;
}

.testimonial-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 6px;
  color: #333;
  padding: 20px 0 20px 0;
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

#testimonial-card {
  width: 251px;
  height: 390px;
  flex: 1 0 250px;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  border: 0;
  border-radius: 20px;
  background: #121212;
  padding-bottom: 100px;

}

#testimonial-card img {
  width: 250px;
  height: 250px;
  object-fit: center;

}

#card-content {
  width: 220px;
  height: 126px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF80;
  border-radius: 0 0 8px 8px;
}


.test-container {
  background: url("/public/test-bg.png");
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: cover;
  padding: 50px 0  50px 0;
}

.test-row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: .1rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "test-col1 test-col2";
  /*box-shadow:0 0 8rem  #121212 inset;*/
  backdrop-filter: blur(10px);
}


.test-col1 {
  width: 100%;
  grid-area: test-col1;

}

.test-col2 {
  grid-area: test-col2;
  width: 100%;

}

.testimonial-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;

}

.this-is-how {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px 10px 20px;
  width:274px;
}

.this-is-how p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF80;
}

#client-name {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;

}

@media(max-width:1180px){
  .testimonial-container {
    width: 90%;
    margin: auto;
  }

  
.test-row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10rem  1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "test-col1 test-col2";
  /*box-shadow:0 0 8rem  #121212 inset;*/
  backdrop-filter: blur(10px);
}

.test-col1 {
  width: 100%;
  grid-area: test-col1;

}

.test-col2 {
  grid-area: test-col2;
  width: 100%;
}

.testimonial-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
}

}


@media(max-width:767px){

  .test-container {
    background:none;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    padding: 0;
  }

  .testimonial-container {
    width: 100%;
    margin: auto;
  }

  
.test-row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: .5fr 1fr;
  grid-template-areas: "test-col1 "
                        "test-col2";
  /*box-shadow:0 0 8rem  #121212 inset;*/
}

.test-col1 {
  width: 100%;
  grid-area: test-col1;

}

.test-col2 {
  grid-area: test-col2;
  width: 100%;
}

.testimonial-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
}
}