@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-family: 'Poppins', sans-serif;
}

.web-main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.softpulse-card{
width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.card-title {
  font-family: Poppins;
  font-size: 65px;
  font-weight: 600;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: center;
}

.card-text{
font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}

.softpulse-logo-div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 80px;
}

.softpulse-banner-logo{
  width: 80px;
  height: 80px;
}

.softpulse-banner-logo img{
  width: 100%;
  height:100%;
}

.softpulse-overlay{
  display: grid;
  justify-content: center;
  align-items: center;
}

#softpulsefeatures-title{
  font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 84px;
letter-spacing: 0em;
text-align: center;

}

#softpulse-feature-bg {
  background: #F37E4D;

}

.product-description {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  margin-bottom: 20px;
}
.product-description p{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.04em;
text-align: center;
}

.softpulse-feature-container {
  padding-top: 0;
  margin: 0 20px;
  margin-bottom: 20px;
}

.softpulse-feature-col1 {
  padding: 40px;
}

.softpulse-feature-col1 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  
}

.softpulse-feature-col2 {
  padding: 40px;
}

.softpulse-feature-col2 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.softpulse-feature-col3 {
  padding: 40px;
}

.softpulse-feature-col3 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.softpulse-feature-col4 {
  padding: 40px;
}

.softpulse-feature-col4 p {
  margin: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}


.softpulse-feature {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  gap: 20px;
  padding-left: 3rem;
}

.softpulsefeatures-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.softpulse-features-div {
  margin-top:5px;
  padding: 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#softpulse-feature-card {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background:url("/public/ProductImages/softpulse-feature-bg.png")
}


#softpulse-features-data {
  width: 100%;
  height: 23rem;
  display: grid;
  grid-template-columns: .5rem 1fr 1fr .5rem;
}

.softpulse-dataleft {
  grid-column: 2/3;
  padding: 0;
}

.softpulse-dataright {
  grid-column: 3/4;
  padding: 0;
}

/*media queries start here*/
@media(max-width:1180px) {

  
.softpulse-logo-div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 65px;
}

.softpulse-banner-logo{
  width: 60px;
  height: 60px;
}

.softpulse-banner-logo img{
  width: 100%;
  height:100%;
}

.softpulse-overlay{
  display: grid;
  justify-content: center;
  align-items: center;
}


  #softpulse-overlay h1{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  .product-description {
    padding: 0 50px;
    margin: 0;
  }

  .product-description p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  .softpulse-feature-container {
    padding-top: 0;
    margin: 0 20px;
  }

  #softpulse-feature-card {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background:url("/public/ProductImages/softpulse-feature-bg.png");
  }

  .softpulse-feature-col1 {
      padding: 30px;
  }

  .softpulse-feature-col1 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

  }

  .softpulse-feature-col2 {
    padding: 30px;
  }

  .softpulse-feature-col2 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-feature-col3 {
    padding: 30px;
  }
  .softpulse-feature-col3 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-feature-col4 {
    padding: 30px;
  }

  .softpulse-feature-col4 p {
    margin: 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }


  .softpulsefeatures {
    margin-top: 20px;
  }

  .softpulse-feature {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 1rem;
  }

  .softpulsefeatures-title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-features-div {
    margin-top:5px;
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

 
 #softpulse-features-data {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: .5rem 1fr 1fr .5rem;
  }

  .softpulse-dataleft {
    grid-column: 2/3;
    padding: 0;
  }

  .softpulse-dataright {
    grid-column: 3/4;
    padding: 0;
  }

}


@media(max-width:767px) {

  
.softpulse-logo-div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 35px;
}

.softpulse-banner-logo{
  width: 40px;
  height: 40px;
}

.softpulse-banner-logo img{
  width: 100%;
  height:100%;
}

.softpulse-overlay{
  display: grid;
  justify-content: center;
  align-items: center;
}

.softpulse-overlay{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #softpulse-card{
    width: 100%;
    height: 200px;
    }
    
    .card img {
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
    
    .card-title {
      font-family: Poppins;
    font-size: 65px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: center;
    
    }
    
    .card-text{
      font-size: .8rem;
    }
    
  .product-description {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .softpulse-feature-container {
    padding-top: 0;
    margin: 0 20px;
  }

  .softpulse-feature-col1 {
    margin: 0;
    padding: 20px;
  }

  .softpulse-feature-col1 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-feature-col2{
    margin: 0;
    padding: 20px;
  }

  .softpulse-feature-col2 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-feature-col3 {
    margin: 0;
    padding: 20px;
  }

  .softpulse-feature-col3 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-feature-col4 {
    padding: 27px;
  }

  .softpulse-feature-col4 p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }


  .softpulsefeatures {
    margin-top: 20px;
  }

  .softpulse-feature {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    gap: 10px;
    padding-left:.7rem;

  }

  .softpulsefeatures-title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }

  .softpulse-features-div {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .softpulse-features-div p {
    padding: 0 20px;
  }

  #softpulse-feature-card {
    width: 100%;
    height: 100%;
    background: #F37E4D;
  }

  #softpulse-feature-bg {
    background-color: #121212;

  }

  #softpulse-features-data {
    width: 100%;
    height: 28rem;
    display: grid;
    grid-template-columns: .5rem 1fr .5rem;
  }

  .softpulse-dataleft {
    grid-column: 2/3;
    padding: 0;
  }

  .softpulse-dataright {
    grid-column:2/4;
    padding: 0;
  }
}